{% extends 'base.html' %}
{% block content %}
    <h1 class="mt-3">Добро пожаловать</h1>
    <div class="row">
        {% for poll in polls %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card">
                    <div class="card-body">

                        <h2 class="card-text card-link">
                            <a href="{% url 'poll_view' poll.pk%}"> {{ poll.question }} </a>
                        </h2>
                        <li>
                            <a href="{% url 'poll_delete' poll.pk %}">Delete question</a>
                        </li>
                        <li>
                            <a href="{% url 'poll_update' poll.pk %}">Update question</a>
                        </li>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
    {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{% endblock %}